<div class="container">
  <div class="header">
    <strong>Današnji datum:</strong> {{ today }}
  </div>

  <div class="filters">
    <div>
      <label>Datum od:</label>
      <input type="date" />
    </div>
    <div>
      <label>Datum do:</label>
      <input type="date" />
    </div>
    <div>
      <mat-slide-toggle>Hitni prijem</mat-slide-toggle>
    </div>
    <div>
      <select id="doctor">
        <option value="" disabled selected>-- Izaberite nadležnog doktora --</option>
        <option *ngFor="let doctor of doctors" [value]="doctor.id">
          {{ doctor.surname }} {{ doctor.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="admissions">
    <div *ngFor="let admission of admissions" class="admission-card">
      <div class="admission-header">
        <h5>Prijem broj: {{ admission.id }}</h5>
        <span>Nadležni doktor: dr. {{ admission.doctorDetails }}</span>
      </div>
      <p>Pacijent: {{ admission.patientName }}</p>
      <p>Datum i vrijeme prijema: {{ admission.admissionDateTime | date: 'dd.MM.yyyy HH:mm' }}</p>
      <p>Hitni prijem: {{ admission.isEmergency ? 'Da' : 'Ne' }}</p>
      <div class="actions">
        <button class="btn btn-outline-primary">Detalji</button>
      </div>
    </div>
  </div> 
  

  <div class="btn-wrapper">
    <button class="btn btn-primary btn-sm">Dodaj novi prijem</button>
  </div>
</div>
