.container {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    color: #333;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-container h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.header-container .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-container .btn:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-dropdown {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
}

.filter-dropdown label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.filter-dropdown .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #d1e7ff;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.btn-wrapper .btn {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-wrapper .btn:hover {
    background-color: #0056b3;
}

.patients {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.patient-card {
    background-color: #e3f2fd;
    border: 1px solid #d1e7ff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.patient-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button {
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-warning {
    border-color: #007bff;
    color: #007bff;
    border: 1px solid;
}

.btn-warning:hover {
    background-color: #007bff;
    color: white;
    border: 1px solid;
}

.btn-danger {
    border-color: #dc3545;
    color: #dc3545;
    border: 1px solid;
}

.btn-danger:hover {
    background-color: #dc3545;
    color: white;
    border: 1px solid;
}


.btn-info {
    border-color: #17a2b8;
    color: #17a2b8;
}

.btn-info:hover {
    background-color: #17a2b8;
    color: white;
}
